<a href="https://colab.research.google.com/github/Roushanjha/Roushanjha/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, 1, 7)))

336

In [3]:
a = [18, 52, 23, 41, 32]

smallest = min(a)

print(f'Smallest number in the list is : {smallest}.')

Smallest number in the list is : 18.

In [4]:
a = [18, 52, 23, 41, 32]

smallest = max(a)

print(f'Smallest number in the list is : {smallest}.')

Smallest number in the list is : 52.

In [5]:
list = [11,22,1,2,5,67,21,32]

list.sort()

print("Second largest element in the list is:", list[-2])

Second largest element in the list is: 32

In [10]:
def Nmaxelements(list, N):
	final_list = []

	for i in range(0, N):
		max = 0
		
		for j in range(len(list)):	
			if list[j] > max:
				max = list[j];
				
		list.remove(max);
		final_list.append(max)
		
	print(final_list)

list = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2

Nmaxelements(list, N)

[85, 41]

In [22]:
list = [11,23,45,23,64,22,11,24]

for num in list:
   
   if num % 2 == 0:
      print(num, end = " ")

64 22 24

In [24]:
list = [10, 21, 4, 45, 66, 93]

for num in list:
	
	if num % 2 != 0:
	   print(num, end = " ")

21 45 93

In [26]:
list1 = [[], [], [], 'Red', 'Green', [1,2], 'Blue', [], []]
print("Original list:")
print(list1)
print("\nAfter deleting the empty lists from the said lists of lists")
list2 = [x for x in list1 if x]
print(list2)

Original list:
[[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []]

After deleting the empty lists from the said lists of lists
['Red', 'Green', [1, 2], 'Blue']

In [28]:
def Cloning(list):
	list_copy = list1[:]
	return list_copy

list1 = [4, 8, 2, 10, 15, 18]
list2 = Cloning(list1)
print("Original List:", list1)
print("After Cloning:", list2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [29]:
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count

lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times